body {
     background-size: 100% auto;
     background-image: url("../images/background.jpg");
     margin: 50px;
}

.k-grid-header
{
   padding: 0 !important;
}

.k-grid-content
{
   overflow-y: visible;
}